
version: 2.1
orbs:
  welcome: circleci/node@1.1.6
jobs:
   build-and-test:
    executor:
       name: node/default
    steps:
      - checkout
      - node/with-cache:
         - run: npm install
         - run: npm test
         - run: npm lint   
workflows:
  build-and-test:
    jobs:
      - build-and-test