html {
    height: 100%;
}

#navBar a {
    font-style: italic;
    font-weight: bold;
    color: white;
    display: block;
    padding: 15px;
    font-size: 30px;
    background-color: inherit;
}

#navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(3, 4, 5, 0.4);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
}

#navBar li {
    display: block;
    float: left;
}

#navBar a:hover {
    color: lightskyblue
}

body {
    background-image: url("imgs/banner.jpeg");
}

h2 {
    font-size: 15px;
    color: red;
    background-color: #FEFFED;
    padding: 30px 35px;
    margin: -10px -50px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}


}
h3 {
    font-size: 15px;
    color: darkred
}
h3 a:hover {
    color: deepskyblue
}
.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: rgb(51, 179, 68);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}
.login-form input[type="submit"]:hover {
    width: 100%;
    padding: 15px;
    background-color: rgb(25, 85, 33);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}